.isf_description  {
 padding: 15px; 
 margin-top: 0; 
 color: #777777; 
 font-size: 125%;
}

.openerp .oe_form_sheet_width {
  min-width: 50%;
  max-width: 97%;
  margin: 0 auto;
}

/* causes unwanted resizes also in other fields  */
/* .openerp .oe_list_content .oe_list_field_boolean input {
  transform: scale(1.5);
  opacity: 0.5;
}

.openerp .oe_list.oe_list_editable.oe_editing .oe_form_field input {
  transform: scale(1.5);
  min-width: 0;
} */